* {
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 100%);
  color: rgb(255, 255, 255);
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
